/* Перемінні*/

:root {
--color-white: #fff;
--color-black: #212121;
--color-accent: #2196f3;
--color-accent-active: #188ce8;
--color-primery-text: #757575;
--color-secondary-text: rgba(255, 255, 255, 0.6);
--color-background-dark: #2F303A;
--color-background-light: #F5F4FA;
}

/* Загальні*/

.body{
    font-family: 'Roboto' , sans-serif;
    color: var(--color-primery-text);
    background-color: var(--color-white);
}

.logo{
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1,19;
        letter-spacing: 0.03em;
        color: var(--color-accent)

    }

    .logo-accent{
        font-weight: 700;
        font-size: 26px;
        line-height: 1,19;
        letter-spacing: 0.03em;
        color: var(--color-black)

    }
    .link{
        font-weight: 500;
        font-size: 14px;
        line-height: 1,15;
        letter-spacing: 0.02em;
        color: var(--color-black)
        
            
    }

.contacts-number{
        
        font-weight: 500;
        font-size: 14px;
        line-height: 1,15;
        letter-spacing: 0.02em;
        color: var(--color-black)

}
.contacts-mail {
        font-weight: 500;
        font-size: 14px;
        line-height: 1,15;
        letter-spacing: 0.02em;
        color: var(--color-accent);
}

.hero{
    background-color: var(--color-background-dark);
}

.hero-title{
        font-weight: 900;
        font-size: 44px;
        line-height: 1,35;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--color-white);
}
.hero-btn{
        font-weight: 700;
        font-size: 16px;
        line-height: 1,9;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
    
        color: var(--color-white);
        background-color: var(--color-accent);
    
}

.hero-btn :hover {
    color: var(--color-accent-active);
}
.hero-btn :focus {
    color: var(--color-accent-active);
}

.text-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1,15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-black);
}

.text-page {
    font-size: 14px;
    line-height: 1,7;
    letter-spacing: 0.03em;
    color: var(--color-primery-text);
}
.title-job{
    font-weight: 700;
    font-size: 36px;
    line-height: 1,15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-black)
}
.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1,15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-black)
}
.title-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1,2;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--color-black);
}
.team-descr {
        font-size: 16px;
        line-height: 1,2;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--color-primery-text);
}

/* Футер*/

.footer {
   background-color: var(--color-background-dark);
}
.footer-adress {
        font-size: 14px;
        line-height: 1,7;
        letter-spacing: 0.03em;
        color: var(--color-white);

}
.footer-mail {
    font-size: 14px;
    line-height: 1,7;
    letter-spacing: 0.03em;
    color: var(--color-secondary-text)
}
.footer-tel {
    font-size: 14px;
    line-height: 1,7;
    letter-spacing: 0.03em;
    color: var(--color-secondary-text)
}


.projects {
  
        font-weight: 500;
        font-size: 16px;
        line-height: 1,6;
        letter-spacing: 0.03em;
        color: var(--color-black);
}

.portfolio-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--color-black)
}
.portfolio-par {
        font-size: 16px;
        line-height: 1,9; 
        letter-spacing: 0.03em;
        color: var(--color-primery-text);
}